/* styles.css */


header {
    background-color: #87CEEB;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

footer {
    background-color: #87CEEB;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

